.detailpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  & > div {
    flex: 1 0 300px;
    margin: 16px;
  }

  .description {
    flex: 2 0 400px;

    > div > div {
      padding: 16px 16px 16px + 37px 16px !important;
      position: relative;
    }

    h1 {
      clear: both;
    }

    img {
      float: left;
      margin-right: 16px;
      margin-bottom: 16px;
      border-radius: 2%;
    }

    .buttons {
      position: absolute;
      bottom: 8px;
      right: 8px;
    }

    .clearfix {
      clear: both;
    }
  }
}