.dashboardpage {
  padding: 16px;

  .volume-card {
    padding: 0 16px 16px;
  }

  .volume-grid {
    justify-content: center !important;

    > div {
      width: auto !important;

      &:first-child {
        width: 100% !important;
      }

      > a > div {
        display: none !important;
      }

      &:hover > a > div {
        height: 100% !important;
        display: flex !important;

        > div > div {
          white-space: normal !important;
        }
      }
    }
  }
}