.dashboardpage {
  padding: 16px;

  .volume-card {
    padding: 0 16px 16px;
    margin-bottom: 32px;
  }

  .volume-grid {
    justify-content: center !important;

    .volume {
      border-radius: 2%;
    }

    > div {
      width: auto !important;

      &:first-child {
        width: 100% !important;
      }

      > a > div {
        display: none !important;
      }

      &:hover > a > div {
        height: 100% !important;
        display: flex !important;

        > div > div {
          white-space: normal !important;
        }
      }
    }
  }

  .issue-card {
    padding: 0 16px 16px;
  }

  .issue-grid {
    justify-content: center !important;

    .issue {
      border-bottom: 4px solid rgb(72, 72, 72);
      border-top: 4px solid rgb(72, 72, 72);
      border-radius: 2%;
    }

    .finished {
      border-color: rgb(245, 0, 87);
    }

    .reading {
      border-color: rgb(255, 64, 129);
    }

    > div {
      width: auto !important;

      &:first-child {
        width: 100% !important;
      }

      > a {
        > div {
          height: 100% !important;
          display: flex !important;

          > div > div {
            white-space: normal !important;
          }
        }

        > div:nth-child(2) {
          //badge
        }
      }
    }
  }
}