.readerpage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212121;

  &.hide-ui {
    .previous-page {
      left: -100px;
    }
    .next-page {
      right: -100px;
    }
    .close, .fullscreen {
      top: -100px;
    }
    .page-numbers, .zoom-in, .zoom-out {
      bottom: -100px;
    }
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  .previous-page {
    position: absolute !important;
    transition: all 2ms ease-in-out;
    left: 0;
    top: calc(50% - 24px);
  }

  .next-page {
    position: absolute !important;
    transition: all 2ms ease-in-out;
    right: 0;
    top: calc(50% - 24px);
  }

  .close {
    position: absolute !important;
    transition: all 2ms ease-in-out;
    right: 0;
    top: 0;
  }

  .fullscreen {
    position: absolute !important;
    transition: all 2ms ease-in-out;
    right: 32px;
    top: 0;
  }

  .page-numbers {
    position: absolute !important;
    transition: all 2ms ease-in-out;
    right: 16px;
    bottom: 8px;
    color: white;
    padding: 0 6px 0 6px;
    border-radius: 6px;
    background-color: rgba(44,44,44,0.6);
  }

  .zoom-in {
    position: absolute !important;
    transition: all 2ms ease-in-out;
    right: 10px;
    bottom: 24px;
  }

  .zoom-out {
    position: absolute !important;
    transition: all 2ms ease-in-out;
    right: 40px;
    bottom: 24px;
  }

  .loading-indicator {
    position: absolute !important;
    left: calc(50% - 70px);
    top: calc(50% - 70px);
  }

  .linear-progress {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
  }
}