.list {
  &.characters {
    > div > a > div > div {
      min-height: 80px;
    }
    img {
      border-radius: 50%;
      height: 80px;
    }
  }

  img {
    position: initial !important;
    width: 80px;
    height: 120px;
    object-fit: cover;
    float: left;
    margin-right: 16px;
    border-radius: 5%;
  }

  > div > a > div > div {
    padding-left: 16px !important;
    min-height: 120px;
  }
}